@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body {
  margin: 0px auto;
}
header {
  max-width: 90%;
  margin: 10px auto;
}

.nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.nav-btn ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
.nav-btn ul li:hover {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ebe6e6;
}

.nav-btn ul li a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 700;
}
.search-img {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  padding: 15px;
  border-radius: 100%;
  transition: ease-in-out 0.3s;
}

.search-img:hover {
  background-color: #ebe6e6;
}

.cart-img {
  position: relative;
}
.cart-img .round {
  position: absolute;
  right: 0px;
}
.banner-sec {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-sec .banner-text {
  height: auto;

  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.banner-sec .banner-text h1 {
  font-size: 3rem;
}

.banner-sec .banner-text p {
  font-size: 1rem;
  font-weight: 600;
}

.banner-sec .banner-text button {
  height: auto;
  width: auto;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 30px;
  border-radius: 20px;
  border: 1px solid rgb(224, 44, 109);
  color: white;
  background-color: rgb(224, 44, 109);
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-sec .banner-text button:hover {
  background-color: white;
  color: rgb(224, 44, 109);
  transition: ease-in-out 0.3s;
}

.banner-sec .banner-text button:focus {
  background-color: green;
  border: 1px solid green;
  color: white;
}
.sponsor-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors {
  height: auto;
  max-width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px auto;
}

.banner-img {
  height: auto;
  width: 50%;
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-img img {
  height: 60%;
  width: 60%;
}
main {
  max-width: 90%;
  margin: 10px auto;
  position: relative;
}
.collection-sec {
  height: auto;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.collection-sec h2 {
  text-align: center;
  margin-bottom: 40px;
}

.collection-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.collection {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
  padding: 20px 30px;
  border-radius: 10px;
}
.collection:hover {
  box-shadow: black 0px 3px 10px;
  transition: ease-in 0.1s;
}
.collection img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.img-coll {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-coll h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

.img-coll h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
.img-coll p {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(120, 120, 133);
}

.see {
height: 100px;
width: 100%;
display: flex;
align-items: center;
}
.see p{
    position: absolute;
    right: 0%;
    color: rgb(224, 44, 109);
}

.featured-sec {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.feature-img {
  height: 250px;
  width: 31%;
  border-radius: 20px;
}
.feature-img img {
  height: 100%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.featured-text {
  height: 250px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.featured-text h1 {
  font-size: 2.3rem;
}
.featured-text p {
  max-width: 70%;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(108, 108, 108);
}
.featured-text button {
  height: auto;
  width: auto;
  padding: 5px 30px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(224, 44, 109);
  border: 1px solid rgb(224, 44, 109);
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
}

.featured-text button:hover {
  background-color: white;
  color: rgb(224, 44, 109);
  transition: ease-in-out 0.3s;
}
.featured-text button:focus {
  background-color: green;
  color: white;
  border: 1px solid green;
}



footer{
    height: 300px;
    width: 100%;
    background-color: rgb(10, 8, 38);
}

.footer-text{
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.footer-text h1{
    font-size: 2remrem;

}
.footer-icon{
    display: flex;
    gap: 10px;
}